<section class="search-form-holder">
  <form action="/search" method="get" class="search-form" role="search">
    <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
    <input type="submit" id="search-submit" value="Search" />
  </form>
</section>
